@model ZaverecnyProjektForman2.Models.EditUserViewModel

@{
    ViewData["Title"] = "Editace uživatele";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="UserEdit" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" readonly/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label">Aktuální heslo (pro potvrzení změn)</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" data-val="false" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" data-val="false" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <select asp-for="Role" class="form-control" asp-items="@(new SelectList(ViewBag.Roles, "Value", "Text", Model.Role))" disabled>
            <option value="">Vyberte roli...</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
        <input asp-for="Role" type="hidden" />
    </div>

    <div class="form-group mt-4">
        <input type="submit" value="Uložit změny" class="btn btn-primary" />
    </div>
</form>
<div class="mt-5">
    <button class="btn btn-outline-secondary btn-zpet" onclick="history.back()">
        Zpět
    </button>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}