@{
    ViewData["Title"] = "O aplikaci";
}

<section>
    <div class="container text-center">
        <h2>O Aplikaci Pojištění</h2>
    </div>
</section>
<section>
    <p style="text-indent: 20px;">
        Vítejte v naší aplikaci Pojištění, inovativním řešení pro správu a sledování pojišťovacích smluv a událostí.
        Naše aplikace je navržena tak, aby poskytovala uživatelům snadný a intuitivní přístup k základním informacím
        o jejich pojistných smlouvách, událostech a nárocích.
    </p>
    <p style="text-indent: 20px;">
        Aplikace nabízí komplexní přehled o všech pojistných smlouvách, včetně detailů o typu pojištění, částce,
        době trvání a souvisejících pojistných událostech. Uživatelé mohou snadno procházet, upravovat a spravovat
        všechny smlouvy, a to vše z jednoho pohodlného místa.
    </p>
    <p style="text-indent: 20px;">
        Kromě správy pojistných smluv aplikace umožňuje sledování a zaznamenávání pojistných událostí, což uživatelům
        usnadňuje správu a sledování jejich pojistných nároků. Díky intuitivnímu uživatelskému rozhraní a snadné navigaci
        mohou uživatelé rychle najít potřebné informace a efektivně spravovat své pojištění.
    </p>
    <p style="text-indent: 20px;">
        Bezpečnost a ochrana osobních údajů jsou pro nás prioritou. Aplikace je postavena s ohledem na maximální zabezpečení
        a ochranu vašich citlivých dat. Využíváme nejnovější technologie a postupy k zajištění, že vaše informace jsou v bezpečí.
    </p>
    <br>
    <p style="text-indent: 20px;">
        Při prvním spuštění aplikace je automaticky vytvořen administrativní účet s následujícími přihlašovacími údaji:
        <br>
    <p style="text-indent: 40px;">
        <strong>Uživatelské jméno:</strong> admin</p>
    <p style="text-indent: 40px;">
        <strong>Heslo:</strong> adminPassword123</p>
        <br>
    <p style="text-indent: 20px;">
        Doporučujeme vám vytvořit nové bezpečné přihlašovací údaje pro administrátorský účet a odstranit nebo alespoň změnit
        heslo tohoto výchozího účtu.
    </p>
    <p style="text-indent: 20px;">
        Tento program nemá vzdálenou správu uživatelských účtů. Takže nového uživatele může registrovat pouze přihlášený uživatel
    </p>
    <p style="text-indent: 20px;">
        Aplikace podporuje různé úrovně přístupových práv, což uživatelům umožňuje využívat různé funkce podle jejich role:
    </p>
    <ul style="text-indent: 20px;">
        <li><strong>Viewer (Prohlížeč):</strong> Může pouze prohlížet informace o pojistných smlouvách a událostech, ale nemá oprávnění k jejich úpravě.</li>
        <li><strong>Manager (Správce):</strong> Má oprávnění provádět všechny úpravy, kromě vytvoření nového typu pojištění. Tato role umožňuje spravovat pojistné smlouvy a události.</li>
        <li><strong>Admin (Administrátor):</strong> Má neomezená oprávnění, včetně vytváření nových typů pojištění, správy uživatelských účtů a nastavení systému.</li>
    </ul>
    <p style="text-indent: 20px;">
        Důležitým prvkem správy přístupových práv v naší aplikaci je, že každý uživatel může přidat nového uživatele s právy, která nepřevyšují úroveň práv uživatele, který nového uživatele přidává. To znamená, že uživatelé s rolí "Manager" mohou vytvářet další účty s rolí "Manager" nebo "Viewer", ale nemohou vytvořit účet s rolí "Admin". Tato funkce zajišťuje, že správa oprávnění zůstává kontrolována a bezpečná.
    </p>
    <p style="text-indent: 20px;">
        Je důležité, aby správa přístupových práv byla prováděna opatrně, aby se zajistilo, že každý uživatel má přístup pouze k těm informacím a funkcím, které jsou pro jeho roli relevantní.
    </p>
    <p style="text-indent: 20px;">
        Děkujeme, že využíváte naši aplikaci Pojištění a věříme, že vám poskytne hodnotné služby pro správu vašeho pojištění.
    </p>
</section>
