@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}

<h1>@ViewData["Title"]</h1>

<section>
    <div class="mt-4">
        <h2>Úvod</h2>
    </div>
</section>
<section class="mt-2">
    <p>V aplikaci Pojištěnci jsme zavázáni chránit a respektovat vaše soukromí. Tento dokument popisuje, jaké osobní údaje shromažďujeme od našich uživatelů, jak je používáme, zpracováváme a chráníme, a vaše práva v souvislosti s vašimi osobními údaji.</p>
    <h2>Jaké osobní údaje shromažďujeme.</h2>
    <p>Při používání aplikace Pojištěnci, můžeme shromažďovat následující údaje:</p>
    <p>Jméno a příjmení</p>
    <p>Kontaktní údaje, včetně e-mailové adresy</p>
    <p>Datum narození</p>
    <p>Adresa bydliště</p>
    <p>Informace o pojištění</p>
    <p>Ostatní informace relevantní pro pojištění nebo nároky</p>
    <br>
    <h2>Jak používáme Vaše údaje. Shromážděné údaje používáme k následujícím účelům:</h2>
    <p>Správa vašeho účtu a pojištění</p>
    <p>Zpracování pojišťovacích nároků</p>
    <p>Zlepšení našich služeb</p>
    <p>Pravidelná komunikace a aktualizace služeb</p>
    <p>Vnitřní záznamy a analýzy</p>
    <p>Bezpečnost a Ochrana Údajů</p>
    <br>
    <p>Jsme odhodláni zajistit bezpečnost vašich informací. Abychom zabránili neautorizovanému přístupu nebo zveřejnění, implementovali jsme vhodné fyzické, elektronické a manažerské postupy na ochranu a zabezpečení informací, které shromažďujeme.</p>
    <h2>Vaše Práva</h2>
    <p>Máte právo požádat o přístup k vašim osobním údajům, jejich opravu, vymazání nebo omezení zpracování. Kdekoliv je zpracování založeno na vašem souhlasu, máte právo tento souhlas kdykoliv odvolat.</p>
    <h2>Změny Zásad Ochrany Osobních Údajů</h2>
    <p>Můžeme občas aktualizovat tyto zásady ochrany osobních údajů. O všech změnách budeme informovat na našich webových stránkách.</p>
    <h2>Kontakt</h2>
    <p>Pokud máte jakékoli dotazy ohledně těchto zásad ochrany osobních údajů, neváhejte nás kontaktovat na [kontakt].</p>
    <p><em>Datum účinnosti: 04.02.2024</em></p>
</section>
