@model ZaverecnyProjektForman2.Models.Insured

@{
    ViewData["Title"] = "Create";
}

<h1>Nový pojištěnec</h1>

<div class="row mt-2">
    <div class="container">
        <form class="row" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="Name" class="control-label">Jméno</label>
                        <input asp-for="Name" class="form-control" placeholder="Zadejte jméno..." />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <small class="form-text text-muted">Jméno nového pojistníka.</small>
                    </div>
                    <div class="col-6 form-group p-2">
                        <label asp-for="Surname" class="control-label">Příjmení</label>
                        <input asp-for="Surname" class="form-control" placeholder="Zadejte příjmení..." />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                        <small class="form-text text-muted">Příjmení nového pojistníka.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="Birth" class="control-label">Datum narození</label>
                        <input asp-for="Birth" class="form-control" />
                        <span asp-validation-for="Birth" class="text-danger"></span>
                        <small class="form-text text-muted">Datum narození nového pojistníka.</small>
                    </div>
                    <div class="col-6 form-group p-2">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Zadejte e-mail..." />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <small class="form-text text-muted">E-mail nového pojistníka.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="Street" class="control-label">Název ulice</label>
                        <input asp-for="Street" class="form-control" placeholder="Název ulice..." />
                        <span asp-validation-for="Street" class="text-danger"></span>
                        <small class="form-text text-muted">Ulice bydliště nového pojistníka.</small>
                    </div>
                    <div class="col-6 form-group p-2">
                        <label asp-for="HouseNumber" class="control-label">Číslo popisné</label>
                        <input asp-for="HouseNumber" class="form-control" placeholder="Číslo popisné..." />
                        <span asp-validation-for="HouseNumber" class="text-danger"></span>
                        <small class="form-text text-muted">Číslo popisné domu.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="City" class="control-label">Město</label>
                        <input asp-for="City" class="form-control" placeholder="Město..." />
                        <span asp-validation-for="City" class="text-danger"></span>
                        <small class="form-text text-muted">Město bydliště.</small>
                    </div>
                    <div class="col-6 form-group p-2">
                        <label asp-for="PostNumber" class="control-label">PSČ</label>
                        <input asp-for="PostNumber" class="form-control" placeholder="PSČ..." />
                        <span asp-validation-for="PostNumber" class="text-danger"></span>
                        <small class="form-text text-muted">Poštovní směrovací číslo.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="Phone" class="control-label">Telefonní číslo</label>
                        <input asp-for="Phone" class="form-control" placeholder="+42X XXX XXX" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                        <small class="form-text text-muted">Telefonní číslo s předvolbou.</small>
                    </div>
                    <div class="col-6 form-group p-2 d-flex justify-content-center">
                        <input type="submit" value="Uložit" class="btn btn-primary align-self-end" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

