@model ZaverecnyProjektForman2.Models.InsuranceEvents

@{
    ViewData["Title"] = "Upravit událost";
}

<h1>Upravit událost</h1>
<hr />
<div class="row mt-2">
    <div class="container">
        <form class="row" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" for="InsuredId" />
            <input type="hidden" for="InsuranceId" />
            <input type="hidden" for="InsuranceContractId" />
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <!-- Select pro výběr pojistníka -->
                    <div class="col-6 form-group p-2">
                        <label for="InsuredId" class="control-label">Jméno a příjmení pojistníka</label>
                        <select for="InsuredId" class="form-control" asp-items="ViewBag.InsuredId" disabled></select>
                        <span validation-for="InsuredId" class="text-danger"></span>
                        <small class="form-text text-muted small-text">Vybraný pojistník</small>
                    </div>
                    <!-- Select pro výběr typu pojištění -->
                    <div class="col-6 form-group p-2">
                        <label for="InsuranceId" class="control-label">Typ pojištění</label>
                        <select for="InsuranceId" class="form-control" asp-items="ViewBag.InsuranceId" disabled></select>
                        <span validation-for="InsuranceId" class="text-danger"></span>
                        <small class="form-text text-muted small-text">Vybraný typ pojištění</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <!-- Výběr pojistného kontraktu -->
                        <label asp-for="InsuranceContractId" class="control-label">Pojistná smlouva</label>
                        <select asp-for="InsuranceContractId" class="form-control" asp-items="ViewBag.InsuranceContractId" disabled></select>
                        <small class="form-text small-text text-muted small-text">Vyberte pojistnou smlouvu.</small>
                    </div>
                    <!-- Input pro detail události -->
                    <div class="col-6 form-group p-2">
                        <label asp-for="EventDetail" class="control-label"></label>
                        <input asp-for="EventDetail" class="form-control" />
                        <span asp-validation-for="EventDetail" class="text-danger"></span>
                        <small class="form-text text-muted small-text">Detail události</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <!-- Input pro částku pojištění -->
                    <div class="col-6 form-group p-2">
                        <label asp-for="FulfillmentAmount" class="control-label"></label>
                        <input asp-for="FulfillmentAmount" class="form-control" />
                        <span asp-validation-for="FulfillmentAmount" class="text-danger"></span>
                        <small class="form-text text-muted small-text">Částka vyplacená na základě této události.</small>
                    </div>
                    <!-- Input pro datum události -->
                    <div class="col-6 form-group p-2">
                        <label asp-for="FulfillmentDate" class="control-label"></label>
                        <input asp-for="FulfillmentDate" class="form-control" />
                        <span asp-validation-for="FulfillmentDate" class="text-danger"></span>
                        <small class="form-text text-muted small-text">Datum, kdy došlo k události.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group mt-5 mb-4 d-flex justify-content-center">
                        <input type="submit" value="Uložit" class="btn btn-primary" title="Kliknutím uložíte změny." />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <button class="btn btn-outline-secondary btn-zpet" onclick="history.back()" title="Vrátí vás zpět na předchozí stránku bez uložení změn.">
        Zpět
    </button>
</div>

