@model ZaverecnyProjektForman2.Models.InsuranceEvents

@{
    ViewData["Title"] = "Upravit událost";
}

<h1>Upravit událost</h1>

<hr />
<div class="row mt-2">
    <div class="container">
        <form class="row" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="InsuredId" class="control-label">Jméno pojistníka</label>
                        <select asp-for="InsuredId" class="form-control" asp-items="ViewBag.InsuredId" disabled></select>
                        <span asp-validation-for="InsuredId" class="text-danger"></span>
                    </div>
                    <div class="col-6 form-group p-2">
                        <label asp-for="InsuranceId" class="control-label">Typ pojištění</label>
                        <select asp-for="InsuranceId" class="form-control" asp-items="ViewBag.InsuranceId" disabled></select>
                        <span asp-validation-for="InsuranceId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="EventDetail" class="control-label"></label>
                        <input asp-for="EventDetail" class="form-control" />
                        <span asp-validation-for="EventDetail" class="text-danger"></span>
                    </div>
                    <div class="col-6 form-group p-2">
                        <label asp-for="FulfillmentAmount" class="control-label"></label>
                        <input asp-for="FulfillmentAmount" class="form-control" />
                        <span asp-validation-for="FulfillmentAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column flex-sm-row">
                    <div class="col-6 form-group p-2">
                        <label asp-for="FulfillmentDate" class="control-label"></label>
                        <input asp-for="FulfillmentDate" class="form-control" />
                        <span asp-validation-for="FulfillmentDate" class="text-danger"></span>
                    </div>
                    <div class="col-6 form-group mt-4 mb-3 d-flex justify-content-center">
                        <input type="submit" value="Uložit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="pt-5">
    <a asp-action="Index">Zpět</a>
</div>

