html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e2effc;
}

ul li {
    transition: all 0.2s ease; /* Plynulý pøechod pro všechny zmìny */
}

    ul li:hover {
        background-color: #949ca5;
        filter: brightness(120%) contrast(120%); /* Zvýší jas a kontrast pøi najetí myší */
        /*backdrop-filter: invert(25%);*/
        cursor: pointer;
    }

.dropdown-menu .dropdown-item:hover {
    background-color: #757c83;
}

.btn-zpet {
    /*background-image:url("../images/zpet.png");*/
}

.min-width-td {
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-width-td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    float: left;
    width: 240px;
    padding-right: 50px;
}

.cistic {
    clear: both;
}

.btn-novy-pojistenec {
    width: 160px;
}

.sort-arrows {
    float: right;
}
    .sort-arrows a {
        text-decoration: none;
    }

.nav-item {
    white-space: nowrap;
}

.small-text {
    font-size: 0.62em; /* Nastavuje velikost písma na 75% velikosti písma rodièovského elementu */
}

.btn-loop {
    font-size: 0.62em;
}
.filter-icon {
    cursor: pointer;
    font-size: 0.62em;
}

.filter-input {
    margin-left: 5px;
}

.active-filter {
    color: red; /* nebo jiná barva pro zvýraznìní aktivního filtru */
}
.bubble-input {
    position: absolute; /* Pozicuje input mimo normální tok dokumentu */
    z-index: 100; /* Zajistí, že input bude nad ostatními prvkami */
    width: auto; /* Nebo pevná šíøka dle potøeby */
    padding: 5px 10px; /* Pøidává padding pro bubble efekt */
    border-radius: 20px; /* Kulaté rohy pro bubble efekt */
    border: 1px solid #ccc; /* Tenký rámeèek kolem inputu */
    background-color: #fff; /* Bílé pozadí */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Jemný stín pro trochu hloubky */
}

    /* Skrytí inputu bez narušení layoutu */
    .bubble-input.hidden {
        display: none;
    }

