
/* Styly pro tmavý režim */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #dfdfdf;
    }

    header, footer {
        background-color: #100f0f; /* Světlý odstín šedé */
        color: #bbbaba;
    }

        header .text-muted, footer .text-muted {
            color: rgb(122, 142, 162, 0.75) !important; /* Nastaví barvu textu */
        }

    nav {
        color: #dfdfdf;
    }
    /* Přizpůsobení tabulky pro tmavý režim */
    .table.table-striped.table-bordered {
        --bs-table-bg: #343a40;
        --bs-table-striped-bg: #394048;
        --bs-table-striped-color: #fff;
        --bs-table-color: #fff;
        --bs-table-hover-bg: #454d55;
        --bs-table-hover-color: #fff;
        --bs-table-active-bg: #394048;
        --bs-table-active-color: #fff;
        --bs-table-border-color: #454d55;
    }

    article h1,
    article h2 {
        color: rgb(102, 155, 204);
    }
    /* Změna barvy textu pro všechny odkazy v navigačním baru */
    .navbar-nav .nav-link {
        color: #ffffff !important; /* Nastavte požadovanou barvu textu */
    }
        /* Změna barvy textu při najetí myší na odkaz */
        .navbar-nav .nav-link:hover {
            color: #cccccc !important; /* Nastavte požadovanou barvu textu při najetí myší */
        }
    /* Změna barvy značky (logo) v navigačním baru */
    .navbar-brand {
        color: #ffffff; /* Nastavte požadovanou barvu textu */
    }
    .navbar-brand:hover {
        color: #757070; /* Nastavte požadovanou barvu textu */
    }
    .dropdown-menu .dropdown-item {
        background-color: #333333;
        color: #d6d6d6;
    }
        /* Změna barvy pozadí a textu pro položky při najetí myší nebo pro aktivní položky */
        .dropdown-menu .dropdown-item:hover,
        .dropdown-menu .dropdown-item:focus,
        .dropdown-menu .dropdown-item:active {
            background-color: #4d4d4d; /* Barva pozadí při najetí myší nebo pro aktivní položky */
            color: white; /* Barva textu při najetí myší nebo pro aktivní položky */
        }
    .dropdown-menu .dropdown-divider {
        background-color: #d6d6d6;
    }
    .dropdown-menu {
        background-color: #333333;
    }
    ul li:hover {
        filter: brightness(90%) contrast(200%); /* Zvýší jas a kontrast při najetí myší */
        backdrop-filter: invert(5%);
        cursor: pointer;
    }
    /* Změna stylu všech input prvků */
    input {
        background-color: #7694b2 !important; /* Světlé pozadí */
        border: 1px solid #ced4da !important; /* Šedý rámeček */
        color: #495057 !important; /* Tmavě šedá barva textu */
        padding: .375rem .75rem; /* Vnitřní odsazení */
        border-radius: .25rem; /* Zaoblené rohy */
    }

        /* Styl pro input prvky při zaměření (focus) */
        input:focus {
            background-color: #e9ecef !important; /* Světlejší pozadí */
            border-color: #80bdff !important; /* Modrý rámeček */
            outline: 0; /* Odstranění outline */
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important; /* Modrý stín */
        }

        /* Styl pro disabled input prvky */
        input:disabled {
            background-color: #e9ecef !important; /* Světlejší pozadí */
            color: #6c757d !important; /* Šedá barva textu */
        }
}
.avatar {
    filter: invert(1);
}